@charset "UTF-8";

body {
    background-image: url(https://www.pornolandia.xxx/media/photos/239266.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}